/* ---------------------- HTML/BODY/GERAL ---------------------*/

html {
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

body {
  height: calc(100% -1rem);
  margin: 0px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.flexbox {
  display: flex;
}

a {
  background-color: grey;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* ----------------------- HEADER ----------------------- */

header {
  width: 100%;
  display: flex;
}

#divTitle {
  margin-left: 1rem;
  min-width: 15rem;
  max-width: 15rem;
  height: 150px;
  overflow-wrap: break-word;
}

#bannerTitle {
  margin-left: 1rem;
  min-width: 15rem;
  max-width: 15rem;
  height: 150px;
  object-fit: fill;
}
 
#bannerVideo {
  text-align: center;
  width: calc(100% - 18rem);
  height: 150px;
  margin-left: 1rem;
  margin-right: 1rem;
  object-fit: fill;
}

/* ----------------------- MAIN ------------------------ */

/* SIDEBAR */
#divSideBar {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-height: 20rem;
  margin-right: 1rem;
}

#divSideBar:first-child {
  margin-top: 1rem;
}

.navButton {
  font-size: x-large;
  height: 2.5rem;
  max-width: 15rem;
  min-width: 15rem;
  margin-top: 1rem;
  cursor: pointer;
}

.navButton:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.navButton:active {
  transform: translateY(4px);
}

/* CONTEUDO */

#divConteudo {
  font-size: large;
  margin-right: 0.9rem;
  height: calc(100vh - 290px);
  width: 100%;
  margin-top: 2rem;
  padding-right: 30px;
  padding-left: 30px;
  overflow-y: auto;
  scrollbar-width: 1px;
  text-align: justify;
}

.tituloConteudo {
  margin: auto;
  text-align: center;
  line-height: auto;
}

/* ------------------------- FOOTER ------------------------ */

footer {
  margin-top: 25px;
  width: 100%;
  max-height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

footer p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5px;
  text-align: center;
}

/* Adicione apenas esta regra */
footer p:nth-child(2) {
  max-width: 900px; /* Defina um valor máximo em pixels ou outra unidade */
}

@media screen and (max-width:1352px) {
  footer p{
    font-size: xx-small !important;
  }
}